/* preliminary definitions and values */

:root {
    --sidebar-img-aspect-ratio: calc(1920 / 3413);
    --faded-foreground: rgb(93, 93, 93);
    --almost-white-foreground: whitesmoke;
    --dark-gray-bgc: rgb(77, 77, 77);
    --default-text-input-border: rgb(229, 231, 235);
    --selected-text-input-border: rgb(48, 154, 241);
    --form-error-color: red;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>.main-container {

    --height: 100vh;
    height: var(--height);
    display: flex;
    justify-content: center;

}


/* sidebar styling */

.main-container .sidebar{
    width: calc(var(--height) * var(--sidebar-img-aspect-ratio));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: border-box url(./nick-nice-gPm8h3DS1s4-unsplash.jpg) no-repeat;
    background-color: var(--dark-gray-bgc);
    background-size: auto 100%;
    color: var(--almost-white-foreground);
}

.main-container .sidebar .sidebar-background {
    background-color: rgb(0, 0, 0, 0.3);    /* translucent black for readablity of text*/
    padding: 0 10px;
}

.main-container .sidebar .sidebar-content {
    width: min-content;                         /* 1. with according to text */
    margin: 0 auto;
    
}

.main-container .sidebar .sidebar-content h1 {
    white-space: nowrap;                        /* for constant width (1.) */
}


/* main content */

.main-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* form styling */

.main-content form>div {                /* select form rows, with maybe multiple elements*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    margin: clamp(5%, 30px, 30px) auto;
}

.main-container form .form-div {
    margin: 0 20% 0 0;                  /* seperate inline form fields*/
}

.main-container form .form-div {
    margin: 0 20% 0 0;
}

.main-container form .label {
    font-size: 0.7rem;
    color: var(--faded-foreground);
}

.main-container form .label.password-error {
    color: var(--form-error-color);
}


/* Styling form elements mostly inputs */

.main-content form input[type=text],
.main-content form input[type=email],
.main-content form input[type=tel]{
    appearance: none;
    display: inline-block;
    padding: 5px 10px;
    outline: 1px solid var(--default-text-input-border);
    border: 1px solid rgb(0, 0 , 0 , 0);                    /*put invisible but ROUND border*/
    border-radius: 3px;
}

.main-content form input[type=text]:focus,
.main-content form input[type=email]:focus,
.main-content form input[type=tel]:focus{
    outline: 1.5px solid var(--selected-text-input-border);
    box-shadow: 0px 0px 5px 0px var(--selected-text-input-border);
}

.main-content form input[type=text]:focus-visible,
.main-content form input[type=email]:focus-visible,
.main-content form input[type=tel]:focus-visible{
    outline: 1.5px solid var(--selected-text-input-border);
    box-shadow: 0px 0px 5px 0px var(--selected-text-input-border);
}

/* Style Password boxes seperately: Red Outline unless posswords are valid, match */

.main-container form .error {
    appearance: none;
    display: inline-block;
    padding: 5px 10px;
    outline: 1.5px solid var(--form-error-color);
    border: 1px solid rgb(0, 0 , 0 , 0);
    border-radius: 3px;
}

.main-container form .error:focus,
.main-container form .error:focus-visible {
    box-shadow: 0px 0px 5px 0px var(--form-error-color)
}


